/*Global*/
$font-one: 'Rubik', sans-serif;
$font-two: 'Parisienne', cursive;

$color-one: #ffffff;
$color-two:  #1e272e;
$color-three: #ffd32a;
$color-four: #f1f2f6;

body {
    font-size: 16px;
    color: $color-two;
    font-family: $font-one;
}


