/*Global*/
$font-one: 'Rubik', sans-serif;
$font-two: 'Parisienne', cursive;

$color-one: #ffffff;
$color-two:  #1e272e;
$color-three: #ffd32a;
$color-four: #747d8c;

body {
    font-size: 16px;
    color: $color-four;
    font-family: $font-one;
}

/*Header*/

header img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.navigation {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
    z-index: 1;
    .row {
        display: flex;
        justify-content: space-between;
     }
}

h3 {
    color: $color-three;
    font-family: $font-two;
    font-size: 30px;
    margin-top: 0;
}

ul {
    list-style-type: none;

    li {
    margin-right: 20px;
    font-weight: bold; 
        a {
            text-decoration: none;
            color: $color-one;
            &:hover {
                color: $color-four;
            }
        }
    }
}

.welcome {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h3 {
        color: $color-one;
        padding: 0;
        margin: 0;
        font-size: 20px;
    }
    h1 {
        color: $color-one;
        font-size: 40px;
        margin: 0;
        font-weight: bold;
    }
    .btn {
        background-color: $color-three;
        color: $color-one;
        max-width: 160px;
        margin: 24px auto 24px auto;
        padding: 10px 20px;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;

        &:hover{
            color: $color-four;
        }
    }   
}

/*Services*/

.services .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
        margin-top: 98px;
        margin-bottom: 0;
        font-weight: bold;
        color: $color-two;
    }
    h4 {
        font-family: $font-two;
        font-size: 16px;
        margin-top: 0;
        color: $color-four;
        margin-bottom: 96px;
    }
}

.services .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
        margin-bottom: 10px;
        font-size: 20px;
        font-family: $font-one;
        color: $color-two;
    }
    i {
        color: $color-three;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border: solid 2px $color-three;
        border-radius: 50%;
        margin-bottom: 20px;
        &::before {
            display: flex;
            justify-content: center;
            font-size: 30px;
        }
    }
    p {
        margin-top: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: $font-two;
    }
}